name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          ls -la            # 現在のディレクトリの内容を表示
          cd ./main   # 'main' フォルダに移動
          npm install       # 依存関係をインストール
          npm run build
      - name: Build the project
        run: |
          cd EeeeWeb/main   # 再度 'main' フォルダに移動
          npm run build     # ビルドコマンドを実行
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_EEEE_WEB_0 }}
          channelId: live
          projectId: eeee-web-0
